<br>
<button id='rate'>JUST DANCE</button>
<br>
<br>
<!-- Property binding -->
<!-- para saber que o conteudo é uam variavel e não um link -->
<img [src]= 'download'>
<br>
<img [src]= 'tigre'>
<br>
<img [src]= 'tigre'>
<br>
<br>
    <button (click)= "exibirImagem()">Exibir Imagem</button>
<br><br>
    <button (click)= "ocultarImagem()">ocultar Imagem</button>
    <br>
<!-- ctrl+k+C -->


<textarea (input)='dispararNoConsole($event)'></textarea>
<textarea (input)='mostrarNoConsole($event)'></textarea>
